{% extends 'admin/admin_base.html.twig' %}

{% block title %}Administration{% endblock %}


{% block body %}
<h1 class="text-center mt-5">Administration</h2>

    <p class="container mt-3">
        Ceci est la zone d'administration vous pourrez, à partir d'ici, ajouter, modifier, retirer des produit, articles etc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum accusamus incidunt ipsam atque itaque deserunt provident? Possimus quo accusamus assumenda blanditiis dignissimos ea minus, praesentium omnis architecto expedita in impedit!
    </p>
{% endblock %}